.feed {
  margin: 20px;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: rgba(54, 145, 237, 0.199);
  padding: 10px;
  border-radius: 10px;
  gap: 5px;
}

.partieHaute {
  display: flex;
  align-items: center;
  gap: 5px;
}
.userLogo {
  width: 60px;
  height: 60px;
  background: url(../public/favicon.ico);
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  border: 2px solid #ccc;
}

.username {
  color: grey;
}

.content {
  margin-left: 10px;
  margin-top: 5px;
}

.partiBasse {
  display: flex;
  align-items: center;
  gap: 5px;
}

.hashtag {
  color: rgb(54, 144, 237);
}

.icons {
  display: flex;
  margin-top: 5px;
  margin-left: 5px;
  gap: 10px;
}

.date {
  color: grey;
}
