.main {
  height: 100vh;
  background: rgb(20, 29, 39);
  display: flex;
  overflow: hidden;
}

.header {
  width: 20vw;
  border-right: 1px solid rgba(255, 255, 255, 0.479);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.icon {
  color: white;
  font-size: 50px;
  margin: 20px 30px;
}

.userLogo {
  width: 60px; /* Taille du rond */
  height: 60px;
  background-color: white;
  border-radius: 50%; /* Rend la div circulaire */
  border: 2px solid #ccc; /* Optionnel : petite bordure */
}

.username {
  color: white;
}

.userLogout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
  gap: 10px;
  align-items: center;
}
.logout {
  border-radius: 10px;
  background: none;
  color: whitesmoke;
  padding: 10px 15px;
  font-size: larger;
  border: 1px solid rgba(245, 245, 245, 0.39);
  cursor: pointer;
}

.logout:hover {
  background: whitesmoke;
  color: rgb(54, 144, 237);
  font-size: larger;
  border-radius: 10px;
  border: 2px solid rgb(54, 144, 237);
  cursor: pointer;
}

.userLogout h2 {
  color: white;
}

.home {
  width: 50vw;
}

.trends {
  width: 30vw;
  border-left: 1px solid rgba(255, 255, 255, 0.479);
}

.tweetPostContainer {
  height: 20vh;
  border-bottom: 1px solid rgba(255, 255, 255, 0.479);
}

.container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  color: white;
}
