.container {
  display: flex;
  height: 100vh; /* prend toute la hauteur écran */
}

/* Partie gauche */
.left {
  flex: 1;
  background-image: url("/bleu.jpg"); /* si image dans public */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Icône */
.icon {
  font-size: 150px;
  color: white;
}

/* Partie droite */
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  box-sizing: border-box;
  color: white;
  background-color: black;
}
