@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");

.container {
  display: flex;
  height: 100vh; /* prend toute la hauteur écran */
  font-family: "Inter", sans-serif;
}

.title {
  font-size: 56px;
  font-weight: 800;
  line-height: 1.1;
  letter-spacing: -1px;
  margin-bottom: 24px;
}

.subtitle {
  font-size: 20px;
  font-weight: 400;
  color: #cbd5e1;
  margin-bottom: 40px;
}

/* Partie gauche */
.left {
  flex: 1;
  background-color: #002fa7;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Icône */
.icon {
  font-size: 150px;
  color: white;
}

/* Partie droite */
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  box-sizing: border-box;
  color: white;
  background: linear-gradient(135deg, #0a0f1f 0%, #111827 50%, #1e293b 100%);
}

/* MODAL */
.modalContent {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 10px 5px;
}

.modalHeader h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}

.modalHeader p {
  margin: 0;
  font-size: 14px;
  color: #777;
}

.inputGroup input {
  width: 100%;
  padding: 12px 14px;
  border-radius: 8px;
  border: 1px solid #e6e6e6;
  font-size: 14px;
  transition: all 0.2s ease;
  background-color: #fafafa;
}

.inputGroup input:focus {
  border-color: #1da1f2;
  outline: none;
  background-color: white;
  box-shadow: 0 0 0 3px rgba(29, 161, 242, 0.15);
}

.primaryBtn {
  margin-top: 10px;
  padding: 13px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(135deg, #1da1f2, #002fa7);
  color: white;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.primaryBtn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 18px rgba(29, 161, 242, 0.25);
}

.switchText {
  text-align: center;
  font-size: 13px;
  color: #b2afaf;
}

.switchText span {
  margin-left: 6px;
  color: #1da1f2;
  font-weight: 600;
  cursor: pointer;
}

.switchText span:hover {
  text-decoration: underline;
}

.helperText {
  margin: 18px 0 8px;
  font-size: 14px;
  color: #666;
}

.areYouBack {
  font-size: 14px;

  color: #ccd6e4; /* gris bleu doux */
  margin: 20px 0 12px;
  font-weight: 700; /* Gras */
}

/* BOUTONS SIGNIN ET SIGNUP */
.heroBtnIn {
  width: 240px;
  padding: 14px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(135deg, #90aec6, #000000);
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s ease;
}

.heroBtnUp {
  width: 240px;
  padding: 14px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(135deg, #1da1f2, #022888);
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s ease;
}

.heroBtn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 22px rgba(29, 161, 242, 0.35);
}

.heroBtn:active {
  transform: scale(0.98);
}
