.container {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.container h1 {
  color: aliceblue;
  margin-left: 20px;
}

.feed {
  margin: 20px;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: rgba(199, 64, 188, 0.123);
  padding: 10px;
  border-radius: 10px;
  gap: 5px;
}

.partieHaute {
  display: flex;
  align-items: center;
  gap: 5px;
}

.username {
  color: whitesmoke;
}
